@use "../../styles/global.scss" as *;   
#hero-sec {
  height: 35vh;

  .hero-sec {
    background-image: url("../../assets/images/HeroSection.webp");
    background-position: center 75%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: relative;
    z-index: -2; 

    // overlay
    &::after {
      content: "";
      display: block;
      position: absolute;
    opacity: 0.6;
      inset: 0; 
      background-color:darken( $primary-color, 20%); 
      z-index: -1; 
      pointer-events: none; 
    }
  }
}
@media screen and (max-width:576px){
    #hero-sec {
        height:120px !important;
        .hero-sec {
            background-position: center 50% !important;
        }
    }
} 
