@use "../../styles/global.scss" as *;   
#hero-sec {

  .hero-sec {
    background-image: url("../../assets/images/HeroSection2.webp");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: relative;
    .hero-text{
      padding: 78px 0;
      h2{
        font-size: 32px;
        @media (max-width:576px){
          font-size: 22px;
        }
      }
      p{
        font-size: 16px;
      }
    }
  }
}
@media screen and (max-width:576px){
    #hero-sec {
        height:140px !important;
        
    }
} 
