@use "../../styles/global.scss" as *;

#home-hero {
  background-color: #eaeaec1d;
  padding: 1rem 5%;
  overflow: hidden;
  // border: 1px solid black;
  max-height: 100vh;
  .hero-title {
    font-size: 48px;
    font-weight: 600;
    line-height: 130%;
    color: #181443;
    font-family: "Inter", sans-serif;
    .purple {
      color: $primary-color;
    }
    .yellow {
      color: #ffb800;
    }

  }
  .hero-text {
    color: $main-text-color;
    width: 80%;

  }
  .home-hero-img {
    position: relative;
    max-height: 90vh;  
    display: flex;
    overflow: hidden;
    .vector {
      position: absolute;
      top: 15%;
      left: -20%;
      z-index: 1;
      img {
        width: 250px;
        height: auto;
        object-fit: cover;
      }
    }
    .hero-bg{
      width: 100%;
      height: 100%;
      border-radius: 20px;
      overflow: hidden;
      object-fit: cover;
      object-position: center 50%;
      z-index: 2;
    }
 
  }
}

@media screen and (min-width:577px) and (max-width: 1200px) {
    .hero-title{
        font-size: 44px !important;
    }
    .hero-text{
        width: 100% !important;
    }
    .hero-bg{
      height: 90% !important;
      // margin-bottom: 100px !important;
    }
   

}
 @media screen and (max-width: 576px) {
     .hero-title{
         font-size: 32px !important;
         line-height: 130% !important;
     }
     .hero-text{
        width: 100% !important;
     }
     .hero-bg{
      height: 35vh !important;
      
     }

    }

// #home-hero {
//   border: 2px solid red;
//   padding: 1rem 5%;
//   height: 90vh;
//   .hero-title {
//     font-size: 48px;
//     font-weight: 600;
//     line-height: 130%;
//     color: #181443;
//     font-family: "Inter", sans-serif;
//     .purple {
//       color: $primary-color;
//     }
//     .yellow {
//       color: #ffb800;
//     }
//   }
//   .hero-text {
//     color: $main-text-color;
//     width: 80%;
//   }

//   .home-hero-img {
//     border: 2px solid blue;
//     height: 100%;
//     position: relative;

//     .vector {
//       position: absolute;
//       top: 15%;
//       left: -20%;
//       z-index: -1;
//       img {
//         width: 250px;
//         height: auto;
//         object-fit: cover;
//       }
//     }
//     .hero-bg {
//       width: 100%;
//       max-height: 100%;
//       object-fit: cover;
//       border-radius: 20px;
//       z-index: 2;
//       // margin-bottom: 20px;
//     }
//   }
// }
