$primary-color: #744394;
$secondary-color: #ef7b00;
$main-text-color: #0b0b0b;
$box-text-color: #3c3c42;
$section-head-tite:#181443;
$primary-bg-color:#FAF9FC;
$gradient-bg:#f8f8ff;


.primary-btn {
  width: 180px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $primary-color;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  &:hover {
    background-color: darken($primary-color, 10%);
  }
  @media screen and (max-width: 576px) {
    width: 100% !important;
  }
}

.home {
  padding: 4rem 5%;
}

// .home-card{
//     border-radius: 20px;
//     box-shadow: (3px 5px 8px 5px #0F0C3105);
//     border: 2px solid #EFEEF6;
//     background-color: #5D4FFF08;
//     display: flex;
//     flex-direction: column;
//     gap:35px;
//     padding: 30px;
//     @media screen and (max-width:576px){
//         padding:30px 15px ;
//     }
//     .card-img{
//         width: 60px;
//         height: 60px;
//         border-radius: 50%;
//         padding: 10px;
//         box-shadow: (1px 1px 15px 5px #5D4FFF1F);
//     }
//     .card-title{
//         display: flex;
//         flex-direction: column;
//     }
//     .card-head{
//         font-weight: 600;
//         font-size: 22px;
//     }
//     .card-detail{
//         color: $box-text-color;
//         font-size: 16px;
//         line-height: 150%;
//     }
//     .read-more{
//         border-top: 2px solid #EFEEF6;
//         padding: 20px 0px;
//         display: flex;
//         gap: 20px;
//         color: $primary-color;
//     }

// }
// .product-card{
//     // border: 1px solid #0B0B0B;
//     border: 2px solid #EFEEF6;
//     border-radius: 20px;
//     padding: 40px 20px;
//     gap: 50px;
//     .card-img{
//         width: 100%;
//         // border: 1px solid red;
//     }
// }
// .news-cards{
//     font-size: 14px;
//     .product-card{
//         .card-date{
//             font-size: 14px;
//             color: $box-text-color;
//         }

//     }
// }
