$primary-color: #744394;
$secondary-color: #ef7b00;
$main-text-color: #0b0b0b;
$box-text-color: #3c3c42;
$section-head-tite:#181443;
$primary-bg-color:#F9F9F9;
$gradient-bg:#f8f8ff;




.home {
  padding: 4rem 5%;
}

