@use "./global.scss" as *;
*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Dm Sans, sans-serif;
}
body{
    padding-top: 150px;
    background-color: $gradient-bg;
    img{
        width: 100%;
        height: 100%;
    }
    a{
        color: inherit;
        text-decoration: none;
    }
    @media screen and  (max-width:576px){
        padding-top:100px;
    }
}