*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Dm Sans, sans-serif;
}
body{
    img{
        width: 100%;
        height: 100%;
    }
    a{
        color: inherit;
        text-decoration: none;
    }
}