@use "./global.scss" as *;
*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Dm Sans, sans-serif;
}
body{
    padding-top: 100px;
    background-color:$primary-bg-color;
    position: relative;
    // border: 2px solid red ;
    // 
    img{
        width: 100%;
        height: 100%;
    }
    a{
        color: inherit;
        text-decoration: none;
        outline: none;
    }
    @media screen and  (max-width:576px){
        padding-top:120px;
    }
    .primary-btn {
  border: none;
  color: #ffff;
  background-color: $primary-color;
  padding: 10px 25px;
  border-radius: 12px;
  height: 56px;
  min-width: 161px;
  cursor: pointer;
  &:hover {
    background-color: #663b82;
  }
  @media screen and (max-width: 576px) {
    width: 100% !important;
  }
}
}

*::selection{
    background-color:#744394;
    color: #fff;
}