@use '../../styles/global.scss' as *;

#services-cards{
    background-color: $gradient-bg;
    .services-cards {
        padding: 5rem 5%;
        gap: 30px !important;
        .services-card{
            height: auto;
            background-color: #F8F8FF;
            border: 2px solid #EFEEF6;
            padding: 20px 30px;
            gap: 20px;
            border-radius: 24px;
            transition: all 400ms;
            &:hover{
                border: 2px solid #744394;
                .card-head{
                    color: #744394;
                }
            }
            .card-img{
                width: 60px;
                height: 60px;
            }
            .card-head{
                font-size: 22px;
               font-weight: 600;
            }
            .card-title{
                font-size: 18px;
            }
            @media (max-width:576px){
                p{
                    font-size: 14px;
                }
            }
        }
    }
}