@use '../../styles/global.scss' as *;

#services-cards{
    z-index:0;
    .services-cards {
        padding: 60px 5%;
        gap: 30px !important;
        .services-card{
            height: auto;
            background-color: #F8F8FF;
            border: 2px solid #EFEEF6;
            padding: 20px 30px;  
            gap: 20px;
            border-radius: 24px;
            transition: all 400ms;
            &:hover{
                border: 2px solid #744394;
                .card-head{
                    color: #744394;
                }
            }
            .card-img{
                width: 60px;
                height: 60px;
            }
            .card-head{
                font-size: 22px;
               font-weight: 600;
            }
            .card-title{
                font-size: 18px;
            }
            @media (max-width:576px){
                p{
                    font-size: 14px;
                }
            }
        }
    }
    @media (max-width:576px){
      .services-cards{
         .services-card{
         padding:20px 10px;
       }
      }
    }
}
.vector3{
        position: absolute;
        top: 25%;
        right: 0;
        opacity: 0.5;
        z-index: -1;
        height: 330px;
        @media (max-width:576px){
            opacity: 1;
            top: 170vh;
        }
    }