@use "../../styles//global.scss" as*;
#why-are-we{
background-color: $gradient-bg;
padding-inline:  5%;
margin-block: 5rem 15rem;
min-height: 70vh;
.why-are-we{
    min-height: 70vh;
    .content-side{
        h1{
            font-weight: 600;
            font-size: 26px;
            @media (max-width:576px){
                font-size: 22px;
            }
        }
        p{
            font-weight: 500;
            line-height: 150%;
             @media (max-width:576px){
            }
        }
        padding-bottom: 40px;
    }
    .img-side{
        padding: 0;
        justify-content: flex-end;
        display: flex;
        padding-left: 60px;
        img{
            width:100%;
            object-fit: cover;
        }
        @media (max-width:1204px){
            max-height: 600px;
            padding-left: 0;
            margin: 0;
            justify-content: center;
        }
    }
}
@media (max-width:768px){
    margin-block:64px ;
}
}