@use "../../styles//global.scss" as*;
#why-are-we{
background-color: $gradient-bg;
padding: 5rem 5%;
min-height: 60vh;
.why-are-we{
    min-height: 80vh;
    .content-side{
        h1{
            font-weight: 600;
            font-size: 26px;
            @media (max-width:576px){
                font-size: 22px;
            }
        }
        p{
            font-weight: 500;
            line-height: 150%;
             @media (max-width:576px){
            }
        }
        padding-bottom: 50px;
    }
    
    .img-side{
        padding: 0;
        height: auto;
        img{
            width:100%;
            height: 100%;
            object-fit: cover;
        }
        @media (max-width:992px){
            height: 50vh;
            padding: 0;
            margin: 0;
            justify-content: center;
        }
    }
}
}