@use "../../styles/global.scss" as *;

.custom-navbar{
 position: fixed; 
 top: 20px;
 left: 50%;
 height: 68px;
 transform: translate(-50%);
 width: 90%;
 z-index: 3;
 background-color: #fff;
 border: 1px solid #84bac64f;
 border-radius: 20px;
 
 .products-types{
  display: none;
    position: absolute;
    top: 70%; 
    left: 50%;
    transform: translateX(-50%);
    width: 100%; // navbarla eyni genişlikdə olsun
    border-radius: 0 0 20px 20px;
    padding: 20px 30px;
    z-index: 10;
    animation: fadeIn 0.3s ease forwards;
    .products-types-container{
    // box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
      border: 1px solid rgba(127, 169, 173, 0.195);
      background-color: #FFFFFF;
      width: 100%;
      border-radius: 20px;
      margin-top: 120px;
      ul{
        // border: 1px solid red;
        margin-top: 30px;
        width: 100%;
      }
      li{
        cursor: pointer;
      }
      h5{
        font-size: 16px;
        // font-weight: 500;
        padding-bottom: 10px;
        color: #0B0B0B;
      }
      p:hover{
        color: $primary-color;
        transition: all 200ms;
      }
    }
 }
   .productDiv:hover + .products-types,
  .products-types:hover {
    display: block;
  }
   @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translate(-50%, -10%);
    }
    to {
      opacity: 1;
      transform: translate(-50%, 0);
    }
  }
 .language-dropdown{
z-index: 1050 !important;
// position: fixed;
   .btn{
    min-width: 70px;
    background-color: transparent;
    border: none;
    color: #333;
    &:hover,
    &:focus,
    &:active {
      background-color: transparent !important;
      box-shadow: none !important;
      color: #333;
    }
    
  }
  .dropdown-menu{
    min-width: 70px; 
    // background-color: transparent;
    
  }
 }
  .productDiv{
  padding: 9px 0px;
  
 }
 .nav-link{
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
  // font-weight: 400;
  &:hover{
    background-color: #F2F1FE;
    color: $primary-color;

  }
 }
 .navbar-brand{
  width: 100px;
  margin:2px 10px;
 }

 
}
.sidebar {
  position: fixed;
  top: 0;
  left: -260px;
  width: 260px;
  height: 100vh;
  background-color: #fff;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  z-index: 2000;
  input{
    border: none;
    outline: none;
    padding: 5px 10px;
  
  }
  .nav-link{
    width: 100%;
    // border-bottom: 1px solid rgba(0, 0, 0, 0.302);
  padding:  10px;
  &:hover{
    color: $primary-color;
    background-color: #F2F1FE;

  }
}
  .nav-logo{
    width: 100px;
  }

  &.open {
    left: 0;
  }

  .sidebar-link {
    color: #333;
    text-decoration: none;
    font-weight: 500;

    &:hover {
      color: #007bff;
    }
  }
}

/* Overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00000083;
  z-index: 1000;
}
@media (min-width:1920px){
  .custom-navbar{
    width: 80%;
  }
}
