#product-detail{
padding: 0 5%;
padding-top: 80px;
    .product-detail{
        .img-side{
            width: 100%;
            text-align: center;
            padding-bottom: 40px;
            img{
                width: 100%;
                max-width: 630px;
                max-height: 400px;
                object-fit: cover;
                border-radius: 20px;
                @media (max-width:768px){
                    height: 200px;
                }
            }
        }
        .text-side{
            width: 100%;
            .head{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-bottom: 30px;
                h3{
                    font-size: 24px;
                    font-weight: 600;
                    color: #000000;
                }
                @media (max-width:768px){
                    padding-bottom:20px;
                }
            }
            .content{
                padding-bottom: 30px;
                 @media (max-width:768px){
                    padding-bottom:20px;
                }
            }
            
        }
    }
}