@use "../../styles//global.scss" as *;

@use "../../styles//global.scss" as *;

#products-sec {
  padding: 0 5%;
  padding-block: 100px 190px;
  .products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    align-items: stretch;
     @media (min-width: 525px) {
      grid-template-columns: repeat(2, 1fr); 
    }
    @media (min-width: 600px) {
      grid-template-columns: repeat(2, 1fr); 
    }
    

    @media (min-width: 900px) {
      grid-template-columns: repeat(3, 1fr); 
    }

    @media (min-width: 1200px) {
      grid-template-columns: repeat(4, 1fr); 
    }

    .product-card {
      height: 320px;
      padding: 40px 20px 26px 20px;
      box-shadow: 0 0 10px #00000021;
      background-color: #FFFFFF;
      border-radius: 20px;
      display: flex;
      justify-content: center;
      @media (max-width:768px){
        padding: 20px 10px;
        width: 90%;
        margin: 0 auto;
      }

      .card-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      .img-side {
        img {
          height: 170px;
          width: 100%;
          object-fit: cover;
          border-radius: 12px;
        }
      }

      .text-side {
        margin-top: 30px;
        height: 40%;
        display: flex;
        flex-direction: column;
        .title {
          font-size: 18px;
          height: 50px;
          font-weight: 600;
          margin: 0;
          padding: 0;
          text-transform: lowercase;
        }

        .detail {
          padding: 0;
          margin: 0;
          font-size: 14px;
          color: #0B0B0B;
          font-weight: 400 !important;
        }
      }
    }
  }
  @media (max-width:576px){
    padding-block: 60px 100px;
  }

  @media (min-width: 1440px) {
    /* İstəsən buraya xüsusi böyük ekran styling yaza bilərəm */
  }
}

