@use "../../styles//global.scss" as *;

#products-sec {
  padding: 5rem 5%;
  .products-sec {
    .img-side {
      width: 100%;
      display: flex;
      justify-content: center;
      img {
        width: 90%;
        max-width: 630px;
        max-height: 400px;
        object-fit: cover;
        border-radius: 20px;
      }
    }
    .text-side {
      margin-top: 44px;
      .head {
        align-items: center;
        h3 {
          font-size: 22px;
          font-weight: 600;
        }
      }
      .head-text {
        padding-top: 30px;
      }
    }
  }
  @media screen and (max-width: 768px) {
    padding: 32px 5%;
    padding-bottom: 200px;
  
    .head{
    }
    .img-side {
      img {
        width: 100% !important;
      }
    }
  }
}
