@use "../../styles/global.scss" as *;

#about-sec{
    width: 100%;
    height: 100vh;
    background-color: $primary-bg-color;
    z-index:-2;
    padding-top: 5rem;
    .about-sec{
        position: relative;
        height: 100%;
        padding: 2rem 5%;
        .layout-side{
            display: flex;
            flex-direction: column;
            height: 100%;
            align-items: center;
            padding: 0 50px;
            // gap: 30px;
            img{
                border-radius: 20px;
                object-fit: cover;
                object-position: center 80%;
            }
            .layout{
                background-color: red;
                width: 80%;
                height: auto;
                position: relative;
                .layout1{
                }
            }
            .layout2{
                position: absolute;
                bottom: -60%;
                right: -40%;
                width: 500px;
                height: 250px;
            }
           
        }

    //     .layout-side{
    //         position: relative !important;
    //         background-color: red;
    //         height: 100%;
    //         img{
    //          object-fit: cover;  
    //         object-position: center 80%;
    //     }
        
    //     .layout{
    //         max-width: 70%;
    //         height: 450px;
    //         position: absolute;
    //         border-radius: 40px;
    //         overflow: hidden;
    //         left: 50px;
    //         z-index: 2  ;
    //     }
    //     .layout2{
    //         position: absolute;
    //         max-width: 55%;
    //         height: 300px;
    //         bottom:30px;
    //         right:80px;
    //         overflow: hidden;
    //         border-radius: 40px;
    //         z-index: 3;
    //     }
    //     .vector{
    //         position: absolute;
    //         left: 0;
    //         top: 50%;
    //         z-index: 1;
    //     }
    // }
        
    }
    .title-side{
        padding-right: 100px;
        .about-title{
            color: $section-head-tite;
            font-weight: 600;
            line-height: 130%;
            font-style: 32px;
        }
        p{
            // font-size: 18px;
            font-weight: 400;
            color: $main-text-color;
        }
    }
}
@media screen and (max-width:576px){
    .layout-side{
        gap: 20px !important;
    }
    // .layout{
    //       position: relative !important;
    //       width: 100% !important;
    //       height: 300px !important;
    //       left: 0 !important;
    // } .layout2{
    //     position: relative !important;
    //     width: 100% !important;
    //     height: 300px !important;
    //     left: 0 !important;
        
    // }
}