@use "../../styles/global.scss" as *;
#about-sec{
    padding: 1rem 5%;
    overflow: hidden;
    .about-sec{
        .vector{
            display: none;
        }
    }
}
@media screen and (max-width:576px){
    #about-sec{
        padding: 1rem 5% !important ;
    }
}

