@use "../../styles/global.scss" as *;
#about-sec{
    padding: 5rem 5%;
    .about-sec{
        .vector{
            display: none;
        }
    }
}

    // .layout{
    //       position: relative !important;
    //       width: 100% !important;
    //       height: 300px !important;
    //       left: 0 !important;
    // } .layout2{
    //     position: relative !important;
    //     width: 100% !important;
    //     height: 300px !important;
    //     left: 0 !important;
        
    // }
