@use "../../styles/global.scss" as *;
#bestseller{
    background-color: $gradient-bg;
    padding: 0 5%;
    .bestseller{
        padding: 70px 0;
        h1{
            font-weight: 600;
        }
        .swiper{
            .swiper-wrapper{
                gap: 5px !important;
                display: flex;
            }
        }
        .bestseller-card{
            padding: 30px 10px;
            max-width: 300px;
            height: 370px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-color: #fff;
            border-radius: 20px;
            h5{
                font-size: 18px;
            }
            img{
                height: 60%;
            }
        }
    }
}