
@use "../../styles/global.scss" as *;


#news-detail {
  padding: 5rem 5%;
  .news-detail {
    padding: 0;
    .img-side {
      width: 100%;
      height: 400px;
      padding: 0;
      margin-bottom: 40px;
      box-shadow: 1px 1px 10px 0px #423b3b05;
      border-radius: 10px;
      background-color: #ffffff;
      @media (max-width:576px){
        height: 240px;
      }
      img {
        height: 100%;  
        object-fit: contain;
        object-position: center  ;
        border-radius: 10px;
      }
    }
    .detail-side{
      h2{
        font-size: 22px;
        font-weight: 600;
        &:hover{
          color: $primary-color;
        }
      }
      .date{
        font-size: 14px;
      }
      .detail{
        font-size: 16px;
      }
    }
  }
  @media (max-width:576px){
    padding: 2rem 5%;
  }
}
