@use "../../styles/global.scss" as *;
#services-about{
    min-height: 70vh;
    // background-color: $gradient-bg; 
    overflow: hidden;
    position: relative;
    .vector{
        position: absolute;
        top: -30%;
          transform: rotate(180deg);
          opacity: 0.5;
    }
   
    .services-about{
        padding: 7rem 5%;
        height: 100%;
        display: flex;
        .img-side{
            min-height: 35vh;
            height: auto;
            padding:0px  30px ;
            img{
                width: 100%;  
                box-shadow: 2px 10px 20px #1814432B,2px 4px 10px #0000000A;
                height: 100%;
                object-fit: cover;
                
            }
          
        }
        .title-side{
            padding: 0 10px;
            h1{
                font-size: 32px;
                font-weight: 600;
            }
            p{
                line-height: 150%;  
            }
        }
    }
    @media (max-width:576px){
        .services-about{
            padding: 2rem 5% !important;
            .title-side{
                padding: 0 !important;
                h1{
                    font-size: 22px !important;
                }
                p{
                    font-size: 14px;
                }
            }
        }
    }
    @media (max-width:991px){
        .services-about{
            .img-side{
              padding: 0;
              padding-bottom: 20px;
              img{
              width: 100%;
          }
        }
          }
      }
}